<div align="center">

---
# Decision Trees - ID3 [Artificial Intelligence Project]
---
</div>

<div align="center">

***
## Problem Presentation
***
</div>
    
> ADD PROBLEM PRESENTATION

<div align="center">

***
## ID3 Algorithm 
***
</div>

A well-known decision tree approach for Machine Learning is the Iterative Dichotomiser 3 (ID3) algorithm. By choosing the best characteristic at each node to partition the data depending on information gain, it recursively constructs a tree. The goal is to make the final subsets as homogeneous as possible. By choosing features that offer the greatest reduction in entropy or uncertainty, ID3 iteratively grows the tree. The procedure keeps going until a halting requirement is satisfied, like a minimum subset size or a maximum tree depth. 

The ID3 Algorithm is specifically designed for building decision trees from a given dataset. It's primary objective is to construct a tree that best explains the relationship between attributes in the data and their corresponding class labels.

**1. Selecting the Best Attribute:**
- ID3 employs the concept of entropy and information gain to determine the attribute that best separates the data. Entropy measures the impurity or randomness in the dataset.
- The algorithm calculates the entropy of each attribute and selects the one that results in the most significant information gain when used for splitting the data.

**2. Creating Tree Nodes:**
- The chosen attribute is used to split the dataset into subsets based on its distinct values.
- For each subset, ID3 recurses to find the next best attribute to further partition the data, forming branches and new nodes accordingly.

**3. Stopping Criteria:**
- The recursion continues until one of the stopping criteria is met, such as when all instances in a branch belong to the same class or when all attributes have been used for splitting.

**4. Handling Missing Values:**
- ID3 can handle missing values to prevent overfitting. While not directly included in ID3, post-processing techniques or variations like C4.5 incorporate pruning to improve the tree's generalization.

<div align="center">

***
## Mathematical Concepts of ID3 Algorithm
***
</div>

### Entropy

**Entropy** is a measure of disorder or uncertainty in a set of data. It is a tool used in ID3 to measure a dataset's disorder  or impurity. By dividing the data into as homogeneous subsets as feasible, the objective is to minimze entropy.

For a set $S$ with classes $\{c_1,\space c_2,\space ...\space,\space c_n \}$, the entropy is calculated as:

$$H(S) = \sum_{i=1}^n \space p_i \space log_2(p_i)$$

Where $p_i$ is the proportion of instances of class $c_i$ in the set.

### Information Gain

Information Gain measures how well a certain quality reduces uncertainty. ID3 splits the data at each stage, choosing the property that maximizes Information Gain. It is computes using the distinction between entropy prior to and following the split.

Information Gain measures the effectiveness of an Attribute $A$ in reducing uncertainty in set $S$

$$IG(A,S) = H(S) - \sum_{v \space \in \space values(A)} \frac{|S_v|}{|S|} \cdot H(S_v))$$

Where, $|S_v|$ is the size of the subset of $S$ for which attribute $A$ has value $v$.

### Gain Ratio (Used more in the C4.5 Algorithm)

Gain Ratio is an improvement on Information Gain that considers the inherent worth of characteristics that have a wide range of possible values. It deals with the bias of Information Gan in favor of characteristics with more pronounced values.

$$ GR(A,S) = \frac{IG(A,S)}{\sum_{v\space\in\space values(A)} \frac{|S_v|}{|S|} \cdot log_2(\frac{|S_v|}{|S|})} $$

<div align="center">

***
## Problem's Resolution Approach
***
</div>

In order to properly develop this Project, we decided to separate it into **multiple classes**:

- **Node**:
  - Structural Data Structure used inside the ID3's algorithm.
- **Decision Tree**:
  - Class that focuses on the implementation of the ID3's Algorithm.
- **Dataset**:
  - Responsible to preprocess any given dataset. This helps to properly **format / encode the data** which is going to be later fed to the algorithm.

<div align="center">

***
## Importing Dependencies
***
</div>

In [1]:
# Remove Warnings
import warnings
warnings.filterwarnings('ignore')

# Importing Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from collections import (Counter)

pd.options.display.max_columns = None
np.random.seed(1234)

<div align="center">

***
## Decision Tree - ID3 [Class]
***
</div>

In [2]:
class Node:
    def __init__(self, feature=None, threshold=None, information_gain=None, left=None, right=None, *, value=None):
        # Feature and Threshold this node was divided with
        self.feature = feature
        self.threshold = threshold
        self.information_gain = information_gain
        
        # Defining the Left and Right children
        self.left = left
        self.right = right

        # Value of a Node -> Determines if it is a Node or not
        self.value = value

    def is_leaf(self):
        # If a Node does not have a Value then it is not a Leaf
        return self.value is not None

In [3]:
class DecisionTree:
    def __init__(self, min_samples_split=2, max_depth=100, n_features=None):
        # Amount of Samples needed to perform a split
        self.min_samples_split = min_samples_split

        # Max depth of the decision tree
        self.max_depth = max_depth

        # Number of features (X) - Helps add some randomness to the Tree
        self.n_features = n_features

        # Defining a root - will later help to traverse the tree
        self.root = None

    def _most_common_label(self, y):
        # Creating a Counter
        counter = Counter(y)
        
        # Getting the Most Common Value
        value = counter.most_common(1)[0][0]

        # Returns most common value
        return value

    def _entropy(self, y):
        # The Bincount method creates a numpy array with the occurences of each value.
        # The index of the array is the number and it's value in the array corresponds to the amount of times it appears in y
        occurences = np.bincount(y)

        # Calculating every pi for every X in the previous array
        ps = occurences / len(y)

        # Returning the Entropy Value
        return - sum(p * np.log2(p) for p in ps if p > 0)

    def _split(self, X_Column, split_threshold):
        # Splitting the Data
        # Note: np.argwhere().flatten() returs the list of indices from the given one where it's elements obey the condition given
        left_indices = np.argwhere(X_Column <= split_threshold).flatten()
        right_indices = np.argwhere(X_Column > split_threshold).flatten()
        return left_indices, right_indices

    def _information_gain(self, y, X_Column, threshold):
        # Getting the Parent Entropy
        parent_entropy = self._entropy(y)

        # Create the Children
        left_indices, right_indices = self._split(X_Column, threshold)

        # Checks if any of the lists are empty
        if (left_indices.size == 0 or right_indices.size == 0):
            return 0

        # -> Calculate the Weighted Average Entropy of the Children

        # Number of Samples in y
        n = len(y)

        # Number of samples in the Left and Right children
        n_left, n_right = left_indices.size, right_indices.size

        # Calculate the Entropy for both Samples (Left and Right)
        entropy_left, entropy_right = self._entropy(y[left_indices]), self._entropy(y[right_indices])

        # Calculate the Child Entropy
        child_entropy = (n_left / n) * entropy_left + (n_right / n) * entropy_right

        # Calculate Information Gain
        information_gain = parent_entropy - child_entropy
        return information_gain

    def _best_split(self, X, y, feature_indices):
        # Finds the Best existent split and threshold (Based on the Information Gain)

        # Initializing the Best Parameters
        best_gain = -1
        split_idx, split_threshold = None, None

        # Traverse all possible actions
        for feat_idx in feature_indices:
            X_Column = X[:, feat_idx]
            thresholds = np.unique(X_Column)

            for threshold in thresholds[:-1]:
                # Calculate the Information Gain
                gain = self._information_gain(y, X_Column, threshold)

                # Updating the Best Parameters
                if (gain > best_gain):
                    best_gain = gain
                    split_idx = feat_idx
                    split_threshold = threshold

        # Returning the Best Split Criteria Found
        return split_idx, split_threshold, best_gain

    def _grow_tree(self, X, y, depth=0):
        # Getting the number of samples, features and labels in the data given
        n_samples, n_features = X.shape
        n_labels = np.unique(y).size
        
        """
        # Stopping Criteria

        (depth >= self.max_depth)             => Reached Maximum depth defined
        (n_labels == 1)                       => Current Node only has 1 type of label (which means it's pure)
        (n_samples < self.min_samples_split)  => The amount of samples is not enough to perform a split

        Therefore, we must return a new node (which is going to be a leaf)
        with the current inform
        """

        # Checks the Stopping Criteria
        if (depth >= self.max_depth or n_labels == 1 or n_samples < self.min_samples_split):
            if (n_samples == 0):
                print(y)
                # return Node(value=self._most_common_label(y))
            
            leaf_value = self._most_common_label(y)
            return Node(value=leaf_value)
        
        # Getting the Indices of the Features
        features_indices = np.random.choice(n_features, self.n_features, replace=False)

        # Find the Best Split 
        best_feature, best_threshold, info_gain = self._best_split(X, y, features_indices)

        # Create Child Nodes (Also makes a recursive call to continue to grow the tree)
        left_indices, right_indices = self._split(X[:, best_feature], best_threshold)
        left = self._grow_tree(X[left_indices, :], y[left_indices], depth + 1)
        right = self._grow_tree(X[right_indices, :], y[right_indices], depth + 1)
        
        return Node(best_feature, best_threshold, info_gain, left, right)

    def fit(self, X, y):
        # Making sure that the amount of features does not surpass the ones available
        if not self.n_features:
            self.n_features = X.shape[1]
        else:
            self.n_features = min(X.shape[1], self.n_features)
    
        # Creating a Tree Recursively
        self.root = self._grow_tree(X, y)
            
    def _traverse_tree(self, X, node:Node):
        # Traverses the Tree until we reached a leaf node -> which will determine the classification label
        if (node.is_leaf()):
            return node.value

        if (X[node.feature] <= node.threshold):
            return self._traverse_tree(X, node.left)
        else:
            return self._traverse_tree(X, node.right)

    def predict(self, X):
        # Predicts the Label given an Input
        return np.array([self._traverse_tree(x, self.root) for x in X])

<div align="center">

***
## Dataset [Class]
***
</div>

In [4]:
class Dataset:
    def __init__(self, file_path):
        # Store the original dataframe
        self.df, self.encoded_df, self.y_decoder = self._process_dataframe(file_path)

        # Separates the data, target and encodes the target values returning 2 arrays and a dictionary
        self.data, self.target = self._get_data_target()

        # Variable that helps with printing the tree
        self.cols = self.encoded_df.columns

    def _label_encoder(self, array):
        # Find Unique Values
        unique_labels = sorted(np.unique(array))
        
        # Generate a mapping from label to integer
        label_encoder = {label: idx for idx, label in enumerate(unique_labels)}
        
        # Creating a Label Decoder
        label_decoder = {idx:label for label, idx in label_encoder.items()}
        
        return label_encoder, label_decoder
    
    def _process_dataframe(self, file_path):
        # Reading .csv file
        df = pd.read_csv(file_path)

        # Removing ID Column if existent
        if (df.columns[0] == 'ID'):
            df.drop(columns=['ID'], inplace=True)

        # Separating Features and Labels
        X = df[df.columns[0:-1]]
        y = df[df.columns[-1]]

        cols = X.columns
        num_cols = X._get_numeric_data().columns

        # Getting the Categorical columns within the Features
        cat_cols = list(set(cols) - set(num_cols))

        # Hot Encoding the categoricaL Features
        new_X = pd.get_dummies(X, prefix=cat_cols, dtype='int')

        # Concatenating the encoded features with the labels
        encoded_df = pd.concat([new_X, y], axis=1)

        # Sort based on the labels column
        encoded_df.sort_values(by=[encoded_df.columns[-1]], inplace=True)

        # Encode Labels
        labels_col = encoded_df.columns[-1]
        unique_labels = sorted(np.unique(encoded_df[labels_col]))

        label_encoder, label_decoder = self._label_encoder(encoded_df[encoded_df.columns[-1]].to_numpy())
        encoded_df.replace({labels_col: label_encoder}, inplace=True)
        
        return df, encoded_df, label_decoder

    def _get_data_target(self):
        # Defining the Target and Label Columns

        # X_Cols starts in 1 because we do not need the ID Column
        X_Cols = self.encoded_df.columns[0:-1]
        y_Col = self.encoded_df.columns[-1]
    
        # Splitting the Dataframe into features and label
        X = self.encoded_df[X_Cols].to_numpy()
        y = self.encoded_df[y_Col].to_numpy()
        
        return X, y

    def _stratified_split_encoded_df_old(self, test_size=0.3):
        # Splits the data into train and test dataframes (Using Stratified Sampling)
        n_samples = int(test_size * len(self.encoded_df)/len(np.unique(self.encoded_df[self.encoded_df.columns[-1]])))
        test_df = self.encoded_df.groupby(by=self.encoded_df.columns[-1], group_keys=False).apply(lambda x: x.sample(n_samples))

        merged_result = pd.merge(self.encoded_df, test_df, on=list(self.encoded_df.columns), how='left', indicator=True)
        train_df = merged_result[merged_result['_merge'] == 'left_only'].drop(columns=['_merge'])

        return train_df, test_df

    def _stratified_split_encoded_df(self, test_size=0.3):
        # Initialize empty lists to store indices for train and test samples
        test_indices = []
        
        # Iterate over each class in the label column
        for label in np.unique(self.encoded_df[self.encoded_df.columns[-1]]):
            # Getting the classes for each label
            class_subset = self.encoded_df[self.encoded_df[self.encoded_df.columns[-1]] == label]
            # Calculate the number of samples to take from the current class
            n_samples = int(np.ceil(test_size * len(class_subset))) 
            # Get the sample indices
            class_test_indices = class_subset.sample(n=n_samples, replace=False).index
            # Store test indices
            test_indices.extend(class_test_indices.tolist())  
    
        # Create train and test dataframes from the indices
        test_df = self.encoded_df.loc[test_indices]
        train_df = self.encoded_df.drop(test_indices)
    
        return train_df, test_df

    def train_test_split(self, test_size=0.3, shuffle=False):
        # Check if the test_size if valid
        if test_size > 1 or test_size < 0:
            raise Exception("Invalid Test Size Proportion (Must be between 0 - 1)")

        # Shuffles the Data
        if (shuffle):
            self.encoded_df = self.encoded_df.sample(frac = 1)

        # Applying Stratified Sampling
        encoded_train_df, encoded_test_df = self._stratified_split_encoded_df(test_size=test_size)

        # Getting columns
        X_Cols = self.encoded_df.columns[0:-1]
        y_Col = self.encoded_df.columns[-1]

        # Splitting the data into training and testing sets
        X_Train, y_Train = encoded_train_df[X_Cols].to_numpy(), encoded_train_df[y_Col].to_numpy()
        X_Test, y_Test = encoded_test_df[X_Cols].to_numpy(), encoded_test_df[y_Col].to_numpy()
        
        # Returning the sets
        return X_Train, X_Test, y_Train, y_Test

    ''' Shuffle data is not being used '''
    def _shuffle_data(self):
        # Note: The array[rand] actually calls the special method __getitem__

        # Creating a new order
        rand = np.arange(len(self.data))
        np.random.shuffle(rand)
            
        # Rearranges the data / target arrays
        self.data = self.data[rand]
        self.target = self.target[rand]
    
    def K_Fold_CV(self, total_folds=3, model=DecisionTree, *args, **kwargs):
        # Performs a K-Fold Cross Validation

        # Length of the Data
        n = self.target.size

        # Number of folds to perform
        k = total_folds

        # nfold -> size / length of each subset / fold
        nfold = n // k
    
        # List to store all the calculated accuracies
        accuracies = []

        # Getting the indices for the data (will have as many as the length of the dataset)
        indices = np.arange(n)
        np.random.shuffle(indices)

        for i in range(k):
            # Getting the test / train indices of the current fold
            test_indices = indices[i*nfold : (i+1)*nfold]
            train_indices = np.concatenate([indices[: i * nfold], indices[(i + 1) * nfold:]])

            # Splitting the data for each new fold
            X_Train, y_Train = self.data[train_indices], self.target[train_indices]
            X_Test, y_Test = self.data[test_indices], self.target[test_indices]

            # Trainning and Evaluating the Model for each new fold
            new_model = model(*args, **kwargs) 
            new_model.fit(X_Train, y_Train)
            predictions = new_model.predict(X_Test)
            accuracies.append(self._Calculate_Accuracy(y_Test, predictions))

        # Returning the average accuracy obtained
        return np.mean(accuracies)

    def _Calculate_Accuracy(self, y_Test, y_Predicted):
        # Calculates the Accuracy given the predictions and their actual values
        return sum(y_Test == y_Predicted) / len(y_Test)

    """ Estimate Holdout """
    def Estimate_Holdout(self, model=DecisionTree, test_size=0.3, *args, **kwargs):
        # Splitting the Data
        X_Train, X_Test, y_Train, y_Test = self.train_test_split(test_size)

        # Creating a new Model
        dt = model(*args, **kwargs)

        # Train the Model
        dt.fit(X_Train, y_Train)

        # Make Predictions
        y_Predicted = dt.predict(X_Test)
        
        # Calculates and Returns the Accuracy of the Model
        return self._Calculate_Accuracy(y_Test, y_Predicted)
    
    def print_tree(self, dt, node=None, indent=" "):
        if (dt.root is None):
            raise Exception("[Unfit Model]")
        
        # Checks if the Node was given
        if not node:
            node = dt.root

        # Found a Leaf / Pure Node
        if node.value is not None:
            print(f"[{self.cols[-1]}]: {self.y_decoder[node.value]}")

        # Shows the feature and threshold of the current node
        else:
            print(f"'{self.cols[node.feature]}' ? [IG:{node.information_gain*100: 2.3f}%]")

            # Recursive Call to the rest of the tree
            print("%sleft: " % (indent), end="")
            self.print_tree(dt, node.left, 2*indent)
            print("%sright: " % (indent), end="")
            self.print_tree(dt, node.right, 2*indent)

<div align="center">

***
## Model Evaluation upon the Datasets
***
</div>

In [5]:
df = pd.read_csv('./Datasets/restaurant.csv')
df.head()

   ID  Alt  Bar  Fri  Hun   Pat Price Rain  Res    Type    Est Class
0  X1  Yes   No   No  Yes  Some   $$$   No  Yes  French   0-10   Yes
1  X2  Yes   No   No  Yes  Full     $   No   No    Thai  30-60    No
2  X3   No  Yes   No   No  Some     $   No   No  Burger   0-10   Yes
3  X4  Yes   No  Yes  Yes  Full     $   No   No    Thai  10-30   Yes
4  X5  Yes   No  Yes   No  Full   $$$   No  Yes  French    >60    No

In [6]:
test_size = 0.7

n_samples = int((1 - test_size) * len(df)/len(np.unique(df[df.columns[-1]])))
print(n_samples)
res = df.groupby(by=df.columns[-1], group_keys=False).apply(lambda x: x.sample(n_samples, replace=True))

1

In [7]:
res

     ID  Alt  Bar  Fri  Hun   Pat Price Rain Res    Type    Est Class
8    X9   No  Yes  Yes   No  Full     $  Yes  No  Burger    >60    No
11  X12  Yes  Yes  Yes  Yes  Full     $   No  No  Burger  30-60   Yes

In [8]:
df

     ID  Alt  Bar  Fri  Hun   Pat Price Rain  Res     Type    Est Class
0    X1  Yes   No   No  Yes  Some   $$$   No  Yes   French   0-10   Yes
1    X2  Yes   No   No  Yes  Full     $   No   No     Thai  30-60    No
2    X3   No  Yes   No   No  Some     $   No   No   Burger   0-10   Yes
3    X4  Yes   No  Yes  Yes  Full     $   No   No     Thai  10-30   Yes
4    X5  Yes   No  Yes   No  Full   $$$   No  Yes   French    >60    No
5    X6   No  Yes   No  Yes  Some    $$  Yes  Yes  Italian   0-10   Yes
6    X7   No  Yes   No   No   NaN     $  Yes   No   Burger   0-10    No
7    X8   No   No   No  Yes  Some    $$  Yes  Yes     Thai   0-10   Yes
8    X9   No  Yes  Yes   No  Full     $  Yes   No   Burger    >60    No
9   X10  Yes  Yes  Yes  Yes  Full   $$$   No  Yes  Italian  10-30    No
10  X11   No   No   No   No   NaN     $   No   No     Thai   0-10    No
11  X12  Yes  Yes  Yes  Yes  Full     $   No   No   Burger  30-60   Yes

In [9]:
result = pd.merge(df, res, on=list(df.columns), how='left', indicator=True)
unique_in_main = result[result['_merge'] == 'left_only'].drop(columns=['_merge'])

In [10]:
unique_in_main

     ID  Alt  Bar  Fri  Hun   Pat Price Rain  Res     Type    Est Class
0    X1  Yes   No   No  Yes  Some   $$$   No  Yes   French   0-10   Yes
1    X2  Yes   No   No  Yes  Full     $   No   No     Thai  30-60    No
2    X3   No  Yes   No   No  Some     $   No   No   Burger   0-10   Yes
3    X4  Yes   No  Yes  Yes  Full     $   No   No     Thai  10-30   Yes
4    X5  Yes   No  Yes   No  Full   $$$   No  Yes   French    >60    No
5    X6   No  Yes   No  Yes  Some    $$  Yes  Yes  Italian   0-10   Yes
6    X7   No  Yes   No   No   NaN     $  Yes   No   Burger   0-10    No
7    X8   No   No   No  Yes  Some    $$  Yes  Yes     Thai   0-10   Yes
9   X10  Yes  Yes  Yes  Yes  Full   $$$   No  Yes  Italian  10-30    No
10  X11   No   No   No   No   NaN     $   No   No     Thai   0-10    No

In [11]:
rest = Dataset(file_path='./Datasets/restaurant.csv')
x_train, x_test, y_train, y_test = rest.train_test_split(test_size=0.3)
len(x_train)

8

In [12]:
len(x_test)

4

In [13]:
y_test

array([0, 0, 1, 1], dtype=int64)

___
### Restaurant Dataset
___

In [14]:
restaurant = Dataset(file_path='./Datasets/restaurant.csv')
print(restaurant.df.shape, "\n")
restaurant.encoded_df.head()

(12, 11)

,Fri_No,Fri_Yes,Price_No,Price_Yes,Hun_No,Hun_Yes,Alt_No,Alt_Yes,Rain_Full,Rain_Some,Type_$,Type_$$,Type_$$$,Bar_No,Bar_Yes,Res_No,Res_Yes,Est_Burger,Est_French,Est_Italian,Est_Thai,Pat_0-10,Pat_10-30,Pat_30-60,Pat_>60,Class
1,0,1,1,0,1,0,0,1,1,0,1,0,0,1,0,1,0,0,0,0,1,0,0,1,0,0
4,0,1,1,0,0,1,1,0,1,0,0,0,1,1,0,0,1,0,1,0,0,0,0,0,1,0
6,1,0,0,1,1,0,1,0,0,0,1,0,0,0,1,1,0,1,0,0,0,1,0,0,0,0
8,1,0,0,1,0,1,1,0,1,0,1,0,0,0,1,1,0,1,0,0,0,0,0,0,1,0
9,0,1,0,1,0,1,0,1,1,0,0,0,1,1,0,0,1,0,0,1,0,0,1,0,0,0

In [15]:
# restaurant.data
# restaurant.target
# restaurant.features_decoders
# restaurant.cols

In [16]:
restaurant.Estimate_Holdout()

0.5

In [17]:
restaurant.K_Fold_CV(3, DecisionTree)

0.6666666666666666

In [18]:
(X_Train, X_Test, y_Train, y_Test) = restaurant.train_test_split(test_size=0.3)

In [19]:
dt = DecisionTree()
dt.fit(X_Train, y_Train)
restaurant.print_tree(dt)

'Alt_No' ? [IG: 54.879%]
 left: 'Type_$$$' ? [IG: 32.193%]
  left: [Class]: Yes
  right: 'Rain_Full' ? [IG: 100.000%]
    left: [Class]: Yes
    right: [Class]: No
 right: [Class]: No

___
### Weather Dataset
___

In [20]:
weather = Dataset(file_path='./Datasets/weather.csv')
print(weather.df.shape, "\n")
weather.df.head()

(14, 5)

    Weather  Temp  Humidity  Windy Play
0     sunny    85        85  False   no
1     sunny    80        90   True   no
2  overcast    83        86  False  yes
3     rainy    70        96  False  yes
4     rainy    68        80  False  yes

In [21]:
weather.encoded_df.head()

,Temp,Humidity,Windy,Weather_overcast,Weather_rainy,Weather_sunny,Play
0,85,85,False,0,0,1,0
1,80,90,True,0,0,1,0
5,65,70,True,0,1,0,0
7,72,95,False,0,0,1,0
13,71,91,True,0,1,0,0

In [22]:
# weather.data
# weather.target
# weather.y_decoder
# weather.cols

In [23]:
weather.Estimate_Holdout()

0.6

In [24]:
weather.K_Fold_CV(3, DecisionTree)

0.4166666666666667

In [25]:
(X_Train, X_Test, y_Train, y_Test) = weather.train_test_split(test_size=0.3)
dt = DecisionTree()
dt.fit(X_Train, y_Train)
weather.print_tree(dt)

'Humidity' ? [IG: 37.888%]
 left: [Play]: yes
 right: 'Weather_sunny' ? [IG: 41.997%]
  left: 'Windy' ? [IG: 25.163%]
    left: [Play]: yes
    right: 'Weather_rainy' ? [IG: 100.000%]
        left: [Play]: yes
        right: [Play]: no
  right: [Play]: no

___
### Iris Dataset
___

In [26]:
iris = Dataset(file_path='./Datasets/iris.csv')
print(iris.df.shape, "\n")
iris.df.head()

(150, 5)

   sepallength  sepalwidth  petallength  petalwidth        class
0          5.1         3.5          1.4         0.2  Iris-setosa
1          4.9         3.0          1.4         0.2  Iris-setosa
2          4.7         3.2          1.3         0.2  Iris-setosa
3          4.6         3.1          1.5         0.2  Iris-setosa
4          5.0         3.6          1.4         0.2  Iris-setosa

In [27]:
iris.encoded_df.head()

    sepallength  sepalwidth  petallength  petalwidth  class
0           5.1         3.5          1.4         0.2      0
27          5.2         3.5          1.5         0.2      0
28          5.2         3.4          1.4         0.2      0
29          4.7         3.2          1.6         0.2      0
30          4.8         3.1          1.6         0.2      0

In [28]:
# iris.data
# iris.target
# iris.y_decoder
# iris.cols

In [29]:
iris.Estimate_Holdout()

0.9111111111111111

In [30]:
iris.K_Fold_CV(10, DecisionTree)

0.9400000000000001

In [31]:
(X_Train, X_Test, y_Train, y_Test) = iris.train_test_split(test_size=0.3)
dt = DecisionTree()
dt.fit(X_Train, y_Train)
iris.print_tree(dt)

'petalwidth' ? [IG: 91.830%]
 left: [class]: Iris-setosa
 right: 'petalwidth' ? [IG: 78.369%]
  left: 'sepalwidth' ? [IG: 12.229%]
    left: 'petalwidth' ? [IG: 51.780%]
        left: [class]: Iris-versicolor
        right: 'sepallength' ? [IG: 81.128%]
                left: [class]: Iris-virginica
                right: [class]: Iris-versicolor
    right: [class]: Iris-versicolor
  right: [class]: Iris-virginica

___
### Connect-Four Dataset 
___

In [32]:
C4 = Dataset(file_path='./Datasets/connect4.csv')
print(C4.df.shape, "\n")
C4.df.head()

(67557, 43)

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,X11,X12,X13,X14,X15,X16,X17,X18,X19,X20,X21,X22,X23,X24,X25,X26,X27,X28,X29,X30,X31,X32,X33,X34,X35,X36,X37,X38,X39,X40,X41,X42,WIN
0,b,b,b,b,b,b,b,b,b,b,b,b,x,o,b,b,b,b,x,o,x,o,x,o,b,b,b,b,b,b,b,b,b,b,b,b,b,b,b,b,b,b,win
1,b,b,b,b,b,b,b,b,b,b,b,b,x,b,b,b,b,b,x,o,x,o,x,o,o,b,b,b,b,b,b,b,b,b,b,b,b,b,b,b,b,b,win
2,b,b,b,b,b,b,o,b,b,b,b,b,x,b,b,b,b,b,x,o,x,o,x,o,b,b,b,b,b,b,b,b,b,b,b,b,b,b,b,b,b,b,win
3,b,b,b,b,b,b,b,b,b,b,b,b,x,b,b,b,b,b,x,o,x,o,x,o,b,b,b,b,b,b,o,b,b,b,b,b,b,b,b,b,b,b,win
4,o,b,b,b,b,b,b,b,b,b,b,b,x,b,b,b,b,b,x,o,x,o,x,o,b,b,b,b,b,b,b,b,b,b,b,b,b,b,b,b,b,b,win

In [33]:
C4.encoded_df.head()

,X34_b,X34_o,X34_x,X28_b,X28_o,X28_x,X35_b,X35_o,X35_x,X24_b,X24_o,X24_x,X8_b,X8_o,X8_x,X17_b,X17_o,X17_x,X37_b,X37_o,X37_x,X18_b,X18_o,X18_x,X32_b,X32_o,X32_x,X33_b,X33_o,X33_x,X15_b,X15_o,X15_x,X9_b,X9_o,X9_x,X2_b,X2_o,X2_x,X4_b,X4_o,X4_x,X29_b,X29_o,X29_x,X39_b,X39_o,X39_x,X20_b,X20_o,X20_x,X27_b,X27_o,X27_x,X23_b,X23_o,X23_x,X1_b,X1_o,X1_x,X38_b,X38_o,X38_x,X3_b,X3_o,X3_x,X21_b,X21_o,X21_x,X41_b,X41_o,X41_x,X22_b,X22_o,X22_x,X10_b,X10_o,X10_x,X7_b,X7_o,X7_x,X26_b,X26_o,X26_x,X13_b,X13_o,X13_x,X40_b,X40_o,X40_x,X31_b,X31_o,X31_x,X14_b,X14_o,X14_x,X11_b,X11_o,X11_x,X25_b,X25_o,X25_x,X6_b,X6_o,X6_x,X12_b,X12_o,X12_x,X16_b,X16_o,X16_x,X42_b,X42_o,X42_x,X30_b,X30_o,X30_x,X36_b,X36_o,X36_x,X19_b,X19_o,X19_x,X5_b,X5_o,X5_x,WIN
67556,0,0,1,0,1,0,0,1,0,0,1,0,0,0,1,1,0,0,0,1,0,1,0,0,1,0,0,1,0,0,1,0,0,1,0,0,0,0,1,1,0,0,1,0,0,1,0,0,1,0,0,1,0,0,1,0,0,1,0,0,1,0,0,1,0,0,1,0,0,1,0,0,1,0,0,1,0,0,1,0,0,1,0,0,1,0,0,1,0,0,1,0,0,1,0,0,1,0,0,1,0,0,1,0,0,1,0,0,0,0,1,1,0,0,1,0,0,1,0,0,1,0,0,1,0,0,0
15787,1,0,0,1,0,0,1,0,0,1,0,0,1,0,0,1,0,0,0,1,0,0,0,1,1,0,0,1,0,0,1,0,0,1,0,0,0,0,1,1,0,0,1,0,0,1,0,0,1,0,0,1,0,0,0,0,1,1,0,0,1,0,0,1,0,0,1,0,0,1,0,0,1,0,0,1,0,0,1,0,0,1,0,0,1,0,0,1,0,0,0,1,0,0,1,0,1,0,0,1,0,0,1,0,0,1,0,0,0,1,0,0,0,1,1,0,0,1,0,0,1,0,0,1,0,0,0
15788,0,1,0,0,0,1,1,0,0,1,0,0,1,0,0,1,0,0,0,1,0,1,0,0,1,0,0,1,0,0,1,0,0,1,0,0,0,0,1,0,0,1,0,1,0,0,1,0,1,0,0,1,0,0,0,0,1,1,0,0,1,0,0,1,0,0,1,0,0,1,0,0,1,0,0,1,0,0,1,0,0,1,0,0,1,0,0,1,0,0,1,0,0,1,0,0,1,0,0,1,0,0,1,0,0,1,0,0,1,0,0,1,0,0,1,0,0,1,0,0,1,0,0,1,0,0,0
55981,1,0,0,1,0,0,1,0,0,1,0,0,1,0,0,1,0,0,0,0,1,0,1,0,1,0,0,1,0,0,1,0,0,1,0,0,0,1,0,0,1,0,1,0,0,1,0,0,1,0,0,1,0,0,1,0,0,1,0,0,1,0,0,1,0,0,1,0,0,1,0,0,0,1,0,0,0,1,1,0,0,1,0,0,1,0,0,1,0,0,1,0,0,1,0,0,1,0,0,1,0,0,1,0,0,1,0,0,0,0,1,0,0,1,1,0,0,1,0,0,1,0,0,1,0,0,0
55978,0,0,1,0,1,0,0,1,0,1,0,0,1,0,0,1,0,0,0,0,1,1,0,0,1,0,0,1,0,0,1,0,0,1,0,0,0,1,0,1,0,0,1,0,0,1,0,0,1,0,0,1,0,0,1,0,0,1,0,0,1,0,0,1,0,0,1,0,0,1,0,0,1,0,0,1,0,0,1,0,0,1,0,0,1,0,0,1,0,0,0,1,0,1,0,0,1,0,0,1,0,0,1,0,0,1,0,0,0,0,1,0,0,1,1,0,0,1,0,0,1,0,0,1,0,0,0

In [34]:
# C4.data
# C4.target
# C4.features_decoders
# C4.cols

In [35]:
C4.Estimate_Holdout()

0.7587329780935465

In [ ]:
(X_Train, X_Test, y_Train, y_Test) = C4.train_test_split(test_size=0.3)
dt = DecisionTree()
dt.fit(X_Train, y_Train)
C4.print_tree(dt)

---

<div align="center">

***
## Just for Guidance [REMOVE LATER]
***
</div>

In [36]:
from sklearn import (datasets)
from sklearn.model_selection import (train_test_split)
from sklearn.metrics import (accuracy_score)
from sklearn.tree import (DecisionTreeClassifier)

In [37]:
def accuracy(y_test, y_pred):
    return sum(y_test == y_pred) / len(y_test)

In [38]:
res =  Dataset(file_path='./Datasets/restaurant.csv')

X = res.data
y = res.target

x_train, x_test, y_train, y_test = train_test_split(X, y)

dt = DecisionTreeClassifier()
dt.fit(x_train, y_train)

y_pred = dt.predict(x_test)
print("Accuracy:", accuracy(y_test, y_pred))

Accuracy: 1.0

In [39]:
res =  Dataset(file_path='./Datasets/weather.csv')

X = res.data
y = res.target

x_train, x_test, y_train, y_test = train_test_split(X, y)

dt = DecisionTreeClassifier()
dt.fit(x_train, y_train)

y_pred = dt.predict(x_test)
print("Accuracy:", accuracy(y_test, y_pred))

Accuracy: 0.5

In [40]:
res =  Dataset(file_path='./Datasets/iris.csv')

X = res.data
y = res.target

x_train, x_test, y_train, y_test = train_test_split(X, y)

dt = DecisionTreeClassifier()
dt.fit(x_train, y_train)

y_pred = dt.predict(x_test)
print("Accuracy:", accuracy(y_test, y_pred))

Accuracy: 0.8947368421052632

In [41]:
res =  Dataset(file_path='./Datasets/connect4.csv')

X = res.data
y = res.target

x_train, x_test, y_train, y_test = train_test_split(X, y)

dt = DecisionTreeClassifier()
dt.fit(x_train, y_train)


y_pred = dt.predict(x_test)
print("Accuracy:", accuracy(y_test, y_pred))

Accuracy: 0.7687388987566608

In [42]:
# Ento o Problema no  do Algorithmo mas do split
dt2 = DecisionTree()
dt2.fit(x_train, y_train)
y_pred = dt2.predict(x_test)
print("Accuracy:", accuracy(y_test, y_pred))

Accuracy: 0.7672587329780935

<div align="center">

***
## Advantages and Disadvantages of ID3
***
</div>

### __Advantages__

- **Interpretability**: Decision Trees generated by ID3 are **easily interpretable**, making them usefull for explaining decisions to non-technical stakeholders
- **Handles Categorical Data**: ID3 can effectively **handle categorical attributes** without explicit data preprocessing steps
- **Not Computationally Expensive**: The Algorithm is relatively straightforward and **computationally less expensive** compared to some complex models

### __Disadvantages__

- **Overfitting**: ID3 tends to create complex trees that may **overfit over the training data**, impacting its performance upon new unseen information
- **Sensitive to Noise**: Noise or outliers in the data can lead to the **creation of non-optimal or incorrect splits**
- **Exclusive to Binary Trees**: ID3 only constructs **binary trees** which **limits** its ability to **express more complex relationships** within the data

<div align="center">

***
## Conclusion
***
</div>

The **ID3 Algorithm** laid the groundwork for **decision tree learning**, providing a robust framework for understanding **attribute selection** and **recursive partitioning**. Despite its limitations, ID3's simplicity and interpretability have paved the way for more sophisticated algorithms that address its drawbacks while retaining its essence.

As **Machine Learning** continues to evolve, the ID3 Algorithm remains a **crucial piece** in the mosaic of tree-based methods, serving as a stepping stone for developing **more advanced and accurate models** in the quest for **efficient data analysis and pattern recognition**.

<div align="center">

***
## Bibliographic References
***
</div>

1. Geeks For Geeks (2023). *Decision Tree Algorithms*. Available [here](https://www.geeksforgeeks.org/decision-tree-algorithms/#id3-iterative-dichotomiser-3)
2. Geeks For Geeks (2024). *Iteratice Dichotomiser 3 (ID3) Algorithm From Scratch*. Available [here](https://www.geeksforgeeks.org/iterative-dichotomiser-3-id3-algorithm-from-scratch/)

___
## Video Presentation (YouTube Video)

Moreover, you can find the **Video** for our **Project's Presentation [here](https://youtu.be/dQw4w9WgXcQ?si=NfwpqDkOwLRY6tRQ)**
___
## Final Considerations

$\quad$ If there is any difficulty on downloading or executing this project, please contact us via:

- **Email**:
    - [Gonalo Esteves](https://github.com/EstevesX10) &#8594; `up202203947@up.pt`
    - [Maximino Canhola](https://github.com/MaximinoCanhola) &#8594; `up201909805@up.pt`
    - [Nuno Gomes](https://github.com/NightF0x26) &#8594; `up202206195@up.pt`